<% include partials/header %>
<div class="container">
    <table class="table">
    <thead>
        <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        <% computer_builds.forEach( function(eachBuilds) { %>
        <tr>
        <th scope="row"><%= eachBuilds.build_id %></th>
        <td><%= eachBuilds.build_name %></td>
        <td><%= eachBuilds.build_price %></td>
        <% }); %>
        <tr>
    </tbody>
    </table>
</div>
<% include partials/footer %>
